<h1 class="p-2">Products</h1>

<% if current_user.has_role? :Admin %>
 <%= link_to 'New Product', new_product_path, class:"btn btn-success m-2" %>
<%end%>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Currency</th>
      <th>Price</th>
      <!-- <th>Stripe Product Id</th> -->
      <!-- <th>Stripe Price Id</th> -->
      <th>Stripe Currency</th>
      <th>Stripe Price</th>
      <th>Shopping cart</th>
      <th>Billing scheme</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="product_list">
    <%= render "products/product_list"%>
  </tbody>
</table>
